@import "tailwindcss";

@theme {
  --color-primary: #1e40af;
  --color-secondary: #facc15;
  --spacing: 1rem;
  --page-height: calc(100% - 5rem);
  --header-height: 5rem;
}

#header-link {
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    border: 0.25rem solid transparent;
    box-sizing: border-box;
}
#header-link:hover {
    border: 0.25rem solid white;
}