<style>
/* Animation to spin the entire container */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-counter {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#container {
    border: 1px solid rgba(255, 255, 255, 0.38);
    border-radius: calc(infinity * 1px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.25rem);
    -webkit-backdrop-filter: blur(0.25rem);
    width: 15rem;
    height: 15rem;
    margin: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: spin 10s linear infinite;
}
#anchor {
    anchor-name: --my-anchor;
    width: 1rem;
    height: 1rem;
}
#air {
    position: absolute;
    position-anchor: --my-anchor;
    position-area: top right;
    animation: spin-counter 10s linear infinite;
}
#water {
    position: absolute;
    position-anchor: --my-anchor;
    position-area: top left;
    animation: spin-counter 10s linear infinite;
}
#earth{
    position: absolute;
    position-anchor: --my-anchor;
    position-area: bottom left;
    animation: spin-counter 10s linear infinite;
}
#fire {
    position: absolute;
    position-anchor: --my-anchor;
    position-area: bottom right;
    animation: spin-counter 10s linear infinite;
}
</style>
<div id="container">
    <div id="anchor"></div>
    <svg id="air" width="5rem" height="5rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill="#1C274C" clip-rule="evenodd" fill-rule="evenodd" d="M 6.25 5.5 C 6.25 3.70508 7.70507 2.25 9.5 2.25 C 11.2949 2.25 12.75 3.70507 12.75 5.5 C 12.75 7.29493 11.2949 8.75 9.5 8.75 H 3 C 2.58579 8.75 2.25 8.41421 2.25 8 C 2.25 7.58579 2.58579 7.25 3 7.25 H 9.5 C 10.4665 7.25 11.25 6.4665 11.25 5.5 C 11.25 4.5335 10.4665 3.75 9.5 3.75 C 8.5335 3.75 7.75 4.5335 7.75 5.5 V 5.85714 C 7.75 6.27136 7.41421 6.60714 7 6.60714 C 6.58579 6.60714 6.25 6.27136 6.25 5.85714 V 5.5 Z"/>
        <path fill="#1C274C" opacity="0.4" d="M 3.25 14 C 3.25 13.5858 3.58579 13.25 4 13.25 H 18.5 C 20.8472 13.25 22.75 15.1528 22.75 17.5 C 22.75 19.8472 20.8472 21.75 18.5 21.75 C 16.1528 21.75 14.25 19.8472 14.25 17.5 V 17 C 14.25 16.5858 14.5858 16.25 15 16.25 C 15.4142 16.25 15.75 16.5858 15.75 17 V 17.5 C 15.75 19.0188 16.9812 20.25 18.5 20.25 C 20.0188 20.25 21.25 19.0188 21.25 17.5 C 21.25 15.9812 20.0188 14.75 18.5 14.75 H 4 C 3.58579 14.75 3.25 14.4142 3.25 14 Z"/>
        <path fill="#1C274C" opacity="0.7" d="M 14.25 7.5 C 14.25 5.15279 16.1528 3.25 18.5 3.25 C 20.8472 3.25 22.75 5.15279 22.75 7.5 C 22.75 9.84721 20.8472 11.75 18.5 11.75 H 2 C 1.58579 11.75 1.25 11.4142 1.25 11 C 1.25 10.5858 1.58579 10.25 2 10.25 H 18.5 C 20.0188 10.25 21.25 9.01878 21.25 7.5 C 21.25 5.98122 20.0188 4.75 18.5 4.75 C 16.9812 4.75 15.75 5.98122 15.75 7.5 V 8 C 15.75 8.41421 15.4142 8.75 15 8.75 C 14.5858 8.75 14.25 8.41421 14.25 8 V 7.5 Z" />
    </svg>
    <svg id="water" width="5rem" height="5rem" viewBox="0 -2.74 60.551 60.551" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(-272.53 -60.991)">
            <path fill="#27b7ff" d="M 285.627,90.974 a 4.947,4.947,0,0,1-4.933-4.914,4.972,4.972,0,0,1,1.445-3.493,5.026,5.026,0,0,1,1.967-1.193 l .732-.193 L 292.6,79.1 l -2.1,7.757-.239.9 a 4.715,4.715,0,0,1-1.141,1.777,4.913,4.913,0,0,1-3.488,1.446 Z"></path>
            <path fill="#27b7ff" d="M 323.841,111.357 a 6.548,6.548,0,0,1-4.635-11.166,6.832,6.832,0,0,1,2.6-1.581 l .884-.229,10.387-2.787-2.8,10.367-.269,1.015 a 6.525,6.525,0,0,1-6.174,4.381 Z"></path>
            <path fill="#27b7ff" d="M 280.114,116.061 a 7.582,7.582,0,0,1-2.358-14.8 l 1.024-.272,12.073-3.236 L 287.6,109.794 l -.317,1.163 a 7.807,7.807,0,0,1-1.8,2.873,7.532,7.532,0,0,1-5.373,2.231 Z"></path>
            <path fill="#27b7ff" d="M 303.154,106.357 a 3.344,3.344,0,0,1-2.417-1,3.388,3.388,0,0,1-1.006-2.4,3.4,3.4,0,0,1,2.363-3.249 l .509-.133,5.374-1.457-1.452,5.381-.165.625 a 3.182,3.182,0,0,1-.795,1.234,3.386,3.386,0,0,1-2.411,1 Z"></path>
            <path fill="#27b7ff" d="M 311.113,87.984 a 11.206,11.206,0,0,1-7.935-19.119,11.4,11.4,0,0,1,4.452-2.7 l 1.515-.4,17.786-4.772-4.787,17.758-.463,1.742 a 11.151,11.151,0,0,1-10.568,7.493 Z"></path>
        </g>
    </svg>
    <svg id="earth" width="5rem" height="5rem" viewBox="0 0 512.001 512.001" xmlns="http://www.w3.org/2000/svg">
        <path fill="#AA8B65" d="M 452.228,414.233 c 15.367-29.579-4.458-51.074-4.458-51.074 c 23.611-35.01-7.328-62.642-7.328-62.642 c 9.77-56.13-30.125-79.287-30.125-79.287 c -1.628-38.528-33.382-53.929-33.382-53.929 s 20.354-38.629,0-71.197 c -20.354-32.567-56.18-31.496-56.18-31.496 S 306.101-1.599,258.879,0.03 s -65.949,68.795-65.949,68.795 c -53.736,21.573-31.754,81.016-46.409,98.476 c -14.655,17.461-9.771,41.976-9.771,41.976 c -29.311,19.541-18.727,56.586-18.727,56.586 c -50.479,22.391-36.639,77.632-36.639,77.632 c -36.639,20.232-25.24,68.515-25.24,68.515 s 15.566,40.274,74.839,46.859 c 0,0,17.563,24.148,47.565,16.831 c 0,0,24.873,40.979,89.638,35.856 c 0,0,53.788,1.463,83.059-37.321 c 0,0,35.125,4.54,51.955-27 C 403.2,447.237,435.249,446.913,452.228,414.233 z"></path>
        <g fill="#836948">
            <path d="M 196.596,212.933 c -0.576,0-1.162-0.061-1.749-0.188 c -4.443-0.963-7.266-5.344-6.304-9.787 c 4.614-21.313,19.37-29.714,31.179-32.114 c -0.577-24.783,16.827-36.618,27.153-39.53 c 4.369-1.232,8.923,1.313,10.158,5.69 c 1.228,4.354-1.288,8.879-5.625,10.139 c -1.987,0.608-18.73,6.452-14.55,29.74 c 0.45,2.499-0.281,5.065-1.977,6.955 c -1.696,1.889-4.181,2.894-6.701,2.712 c -1.876-0.092-19.147-0.412-23.544,19.891 C 203.799,210.298,200.389,212.933,196.596,212.933 z"></path>
            <path d="M 342.745,318.47 c -0.1,0-0.199-0.002-0.298-0.005 c -4.544-0.161-8.097-3.976-7.934-8.52 c 0.238-6.707-1.34-11.922-4.691-15.499 c -5.255-5.609-13.647-6.103-13.729-6.105 c -2.437-0.073-4.717-1.221-6.224-3.136 c -1.508-1.916-2.09-4.401-1.589-6.786 c 4.599-21.871-12.59-30.608-14.566-31.532 c -4.148-1.864-5.97-6.725-4.105-10.872 c 1.864-4.149,6.768-5.984,10.911-4.121 c 9.741,4.379,26,18.275,24.956,41.521 c 4.995,1.453,11.212,4.278,16.361,9.774 c 6.459,6.894,9.529,16.092,9.13,27.341 C 350.809,314.973,347.156,318.47,342.745,318.47 z"></path>
            <path d="M 175.03,346.617 c -3.769,0.001-7.168-2.603-8.026-6.435 c -5.444-24.31,8.633-38.174,19.858-43.764 c 5.297-25.439,26.698-30.052,27.66-30.246 l 3.255,16.14 l 0.109-0.023 c -1.375,0.318-13.484,3.61-15.447,20.902 c -0.367,3.235-2.607,5.95-5.714,6.925 l 0,0 c 0.002,0-4.948,1.68-9.021,5.894 c -5.049,5.223-6.566,11.953-4.635,20.575 c 0.994,4.437-1.798,8.838-6.234,9.832 C 176.23,346.552,175.626,346.617,175.03,346.617 z"></path>
            <circle r="13.294" cy="394.517" cx="121.444"></circle>
            <circle r="13.294" cy="131.079" cx="329.992"></circle>
            <path d="M 216.156,107.596 c -0.648,0-1.308-0.078-1.966-0.239 c -4.416-1.082-7.118-5.54-6.036-9.955 c 10.525-42.935,49.206-50.596,50.848-50.901 c 4.46-0.835,8.768,2.119,9.598,6.589 c 0.828,4.458-2.104,8.744-6.553,9.592 c -1.291,0.255-29.971,6.291-37.901,38.641 C 223.225,105.079,219.86,107.596,216.156,107.596 z"></path>
            <path d="M 262.074,458.11 c -5.481,0-10.743-0.852-15.768-2.558 c -14.942-5.074-23.352-16.399-26.826-22.198 c -34.462-11.559-40.199-47.259-40.433-48.821 c -0.674-4.496,2.426-8.688,6.922-9.361 c 4.482-0.668,8.669,2.411,9.357,6.892 c 0.195,1.229,4.929,29.079,31.944,36.456 c 2.383,0.65,4.347,2.337,5.353,4.593 c 0.036,0.078,5.894,12.503,19.164,16.912 c 10.573,3.512,23.358,1.259,38.008-6.694 c 3.997-2.172,8.994-0.688,11.163,3.308 c 2.169,3.996,0.688,8.994-3.308,11.162 C 285.001,454.666,273.095,458.109,262.074,458.11 z"></path>
            <path d="M 339.54,419.541 c -3.205,0-6.252-1.883-7.581-5.021 c -1.765-4.16,0.155-8.959,4.288-10.76 c 1.081-0.493,22.533-10.803,20.68-48.437 c -0.223-4.541,3.277-8.404,7.818-8.627 c 4.561-0.228,8.405,3.277,8.628,7.818 c 2.449,49.764-29.269,63.799-30.62,64.372 C 341.703,419.33,340.612,419.541,339.54,419.541 z"></path>
        </g>
        <g opacity="0.16" fill="#663A00">
            <path d="M 447.236,363.159 c 23.611-35.01-7.328-62.642-7.328-62.642 c 9.77-56.13-30.125-79.287-30.125-79.287 c -0.318-7.54-1.801-14.181-3.963-20.007 c 3.504,11.103,4.976,24.851,2.078,41.498 c 0,0,30.939,27.633,7.328,62.642 c 0,0,19.825,21.495,4.458,51.074 c -16.979,32.681-49.028,33.004-49.028,33.004 c -16.831,31.54-51.955,27-51.955,27 c -29.271,38.784-83.059,37.321-83.059,37.321 c -64.765,5.123-89.638-35.857-89.638-35.857 c -30.003,7.317-47.566-16.831-47.566-16.831 c -18.812-2.09-33.217-7.575-44.123-14.088 c -1.341,13.849,1.294,25.024,1.294,25.024 s 15.566,40.274,74.839,46.859 c 0,0,17.562,24.148,47.565,16.831 c 0,0,24.873,40.979,89.638,35.857 c 0,0,53.788,1.463,83.059-37.321 c 0,0,35.125,4.54,51.955-27 c 0,0,32.05-0.324,49.028-33.004 C 467.06,384.654,447.236,363.159,447.236,363.159 z"></path>
        </g>
    </svg>
    <svg id="fire" width="5rem" height="5rem" viewBox="-33 0 255 255" preserveAspectRatio="xMidYMid" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <style>
                .cls-3 {
                    fill: url(#linear-gradient-1);
                }
                .cls-4 {
                    fill: #fc9502;
                }
                .cls-5 {
                    fill: #fce202;
                }
            </style>
            <linearGradient id="linear-gradient-1" gradientUnits="userSpaceOnUse" x1="94.141" y1="255" x2="94.141" y2="0.188">
                <stop offset="0" stop-color="#ff4c0d"></stop>
                <stop offset="1" stop-color="#fc9502"></stop>
            </linearGradient>
        </defs>
        <g>
            <path class="cls-3" fill-rule="evenodd" d="M187.899,164.809 C185.803,214.868 144.574,254.812 94.000,254.812 C42.085,254.812 -0.000,211.312 -0.000,160.812 C-0.000,154.062 -0.121,140.572 10.000,117.812 C16.057,104.191 19.856,95.634 22.000,87.812 C23.178,83.513 25.469,76.683 32.000,87.812 C35.851,94.374 36.000,103.812 36.000,103.812 C36.000,103.812 50.328,92.817 60.000,71.812 C74.179,41.019 62.866,22.612 59.000,9.812 C57.662,5.384 56.822,-2.574 66.000,0.812 C75.352,4.263 100.076,21.570 113.000,39.812 C131.445,65.847 138.000,90.812 138.000,90.812 C138.000,90.812 143.906,83.482 146.000,75.812 C148.365,67.151 148.400,58.573 155.999,67.813 C163.226,76.600 173.959,93.113 180.000,108.812 C190.969,137.321 187.899,164.809 187.899,164.809 Z"></path>
            <path class="cls-4" fill-rule="evenodd" d="M94.000,254.812 C58.101,254.812 29.000,225.711 29.000,189.812 C29.000,168.151 37.729,155.000 55.896,137.166 C67.528,125.747 78.415,111.722 83.042,102.172 C83.953,100.292 86.026,90.495 94.019,101.966 C98.212,107.982 104.785,118.681 109.000,127.812 C116.266,143.555 118.000,158.812 118.000,158.812 C118.000,158.812 125.121,154.616 130.000,143.812 C131.573,140.330 134.753,127.148 143.643,140.328 C150.166,150.000 159.127,167.390 159.000,189.812 C159.000,225.711 129.898,254.812 94.000,254.812 Z"></path>
            <path class="cls-5" fill-rule="evenodd" d="M95.000,183.812 C104.250,183.812 104.250,200.941 116.000,223.812 C123.824,239.041 112.121,254.812 95.000,254.812 C77.879,254.812 69.000,240.933 69.000,223.812 C69.000,206.692 85.750,183.812 95.000,183.812 Z"></path>
        </g>
    </svg>
</div>