<style>
table {
    width: 100%;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.25rem);
    -webkit-backdrop-filter: blur(0.25rem);
    transition-duration: 0.5s;
    color: white;
}
td, th {
    padding: 1rem;
}
tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.3);
}
</style>
<table>
    <caption>A table of the 33 substances coined by Lavoisier can be seen below.</caption>
    <tr>
        <th>Element</th>
        <th>Modern Equivalent (if one exists)</th>
        <th>In today's table?</th>
        <th>Lavoisier's Classification</th>
    </tr>
    <tr>
        <td>Light</td>
        <td>-</td>
        <td>No</td>
        <td>Gas</td>
    </tr>
    <tr>
        <td>Caloric</td>
        <td>-</td>
        <td>No</td>
        <td>Gas</td>
    </tr>
    <tr>
        <td>Oxygen</td>
        <td>-</td>
        <td>Yes</td>
        <td>Gas</td>
    </tr>
    <tr>
        <td>Azote</td>
        <td>Nitrogen</td>
        <td>Yes</td>
        <td>Gas</td>
    </tr>
    <tr>
        <td>Hydrogen</td>
        <td>-</td>
        <td>Yes</td>
        <td>Gas</td>
    </tr>
    <tr>
        <td>Sulphur</td>
        <td>-</td>
        <td>Yes</td>
        <td>Nonmetal</td>
    </tr>
    <tr>
        <td>Phosphorous</td>
        <td>Phosphorus</td>
        <td>Yes</td>
        <td>Nonmetal</td>
    </tr>
    <tr>
        <td>Charcoal</td>
        <td>-</td>
        <td>No</td>
        <td>Nonmetal</td>
    </tr>
    <tr>
        <td>Muriatic Radical</td>
        <td>Chloride</td>
        <td>No</td>
        <td>Nonmetal</td>
    </tr>
    <tr>
        <td>Fluoric Radical</td>
        <td>Fluorine</td>
        <td>Yes</td>
        <td>Nonmetal</td>
    </tr>
    <tr>
        <td>Boriatic Radical</td>
        <td>Boric Acid</td>
        <td>No</td>
        <td>Nonmetal</td>
    </tr>
    <tr>
        <td>Antimony</td>
        <td>-</td>
        <td>No</td>
        <td>Metal</td>
    </tr>
    <tr>
        <td>Arsenic</td>
        <td>-</td>
        <td>Yes</td>
        <td>Metal</td>
    </tr>
    <tr>
        <td>Bismuth</td>
        <td>-</td>
        <td>Yes</td>
        <td>Metal</td>
    </tr>
    <tr>
        <td>Cobalt</td>
        <td>-</td>
        <td>Yes</td>
        <td>Metal</td>
    </tr>
    <tr>
        <td>Copper</td>
        <td>-</td>
        <td>Yes</td>
        <td>Metal</td>
    </tr>
    <tr>
        <td>Gold</td>
        <td>-</td>
        <td>Yes</td>
        <td>Metal</td>
    </tr>
    <tr>
        <td>Iron</td>
        <td>-</td>
        <td>Yes</td>
        <td>Metal</td>
    </tr>
    <tr>
        <td>Lead</td>
        <td>-</td>
        <td>Yes</td>
        <td>Metal</td>
    </tr>
    <tr>
        <td>Manganese</td>
        <td>-</td>
        <td>Yes</td>
        <td>Metal</td>
    </tr>
    <tr>
        <td>Mercury</td>
        <td>-</td>
        <td>Yes</td>
        <td>Metal</td>
    </tr>
    <tr>
        <td>Molybdena</td>
        <td>Molybedenite</td>
        <td>No</td>
        <td>Metal</td>
    </tr>
    <tr>
        <td>Nickel</td>
        <td>-</td>
        <td>Yes</td>
        <td>Metal</td>
    </tr>
    <tr>
        <td>Platina</td>
        <td>Platinum</td>
        <td>Yes</td>
        <td>Metal</td>
    </tr>
    <tr>
        <td>Silver</td>
        <td>-</td>
        <td>Yes</td>
        <td>Metal</td>
    </tr>
    <tr>
        <td>Tin</td>
        <td>-</td>
        <td>Yes</td>
        <td>Metal</td>
    </tr>
    <tr>
        <td>Tungstein</td>
        <td>Tungsten</td>
        <td>Yes</td>
        <td>Metal</td>
    </tr>
    <tr>
        <td>Zinc</td>
        <td>-</td>
        <td>Yes</td>
        <td>Metal</td>
    </tr>
    <tr>
        <td>Lime</td>
        <td>-</td>
        <td>No</td>
        <td>"Earthly"</td>
    </tr>
    <tr>
        <td>Magnesia</td>
        <td>Magnesium</td>
        <td>Yes</td>
        <td>"Earthly"</td>
    </tr>
    <tr>
        <td>Barytes</td>
        <td>Baryte</td>
        <td>No</td>
        <td>"Earthly"</td>
    </tr>
    <tr>
        <td>Argill</td>
        <td>Clay/Earth of Alum</td>
        <td>No</td>
        <td>"Earthly"</td>
    </tr>
    <tr>
        <td>Silex</td>
        <td>-</td>
        <td>No</td>
        <td>"Earthly"</td>
    </tr>
</table>