---
import "../styles/global.css";
import Header from "../components/header.astro";
---
<!doctype html>
<html lang="en" class="h-full w-full m-0">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/src/styles/global.css" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="w-full m-0 bg-blue-100">
		<Header title="CHM121 Final Project"/>
		<slot/>
	</body>
</html>
