---
import BaseHead from "../components/base-head.astro";
import '../styles/global.css';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---
<!doctype html>
<html lang="en" class="h-full w-full m-0">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
	</head>
	<body class="w-full m-0 bg-gray-800">
		<slot/>
	</body>
</html>
