---
import type { CollectionEntry } from 'astro:content';
import "../styles/global.css"
import BaseHead from "../components/base-head.astro"

type Props = CollectionEntry<'blog'>['data'];

const { title, description, heading, subtitle } = Astro.props;
---
<html lang="en">
  <head>
    <BaseHead title={title} description={description}/>
  </head>
  <body class="bg-gray-800 text-white">
    <article class="max-w-prose mx-auto py-10">
      <header class="mb-8">
        <h1 class="text-4xl font-bold">{heading}</h1>
        <p class="text-gray-400">{subtitle}</p>
      </header>
      <main class="prose prose-invert lg:prose-xl">
        <slot /> 
      </main>
    </article>
  </body>
</html>